*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  min-height: 100vh;
} 

/* 
Auth  */
.register-container{
  position: relative;
  height: 100vh;

}
.register-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0) ;/* Adjust opacity here */
  z-index: 1;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

}
.register-title{
  position: absolute;
  top: 100px;
}
.register-image{
  
  object-fit: cover;
  opacity: .1;
  width: 100%;
  height: 100%;
  
}
.form-container{
  height: 100%;
  width: 60%;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}






.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

/* Transection field */

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px grey;
}

/* Transection field */

/* ANT Design Icon Deign */
.anticon svg {
  font-size: 20px;
  cursor: pointer;
  
}
.active-icon {
color: black;

}
.inactive-icon {
  color: rgb(152, 151, 151);
}

.switch-icons {
  gap: 5px;
  border: 3px solid rgba(36, 36, 36, 0.5);
  padding: 5px;
}


/* progress */
